body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  text-align: center;
  margin: auto;
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile__img{
  border-radius: 275px;
  width: 88px;
}

#slack {
  display: none;
}

.link__sect {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.link__sect > button {
  width: 1152px;
  margin: auto;
  height: 76px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid #eaecf0;
  background-color: #eaecf0;
}

button a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}

.last_div > img {
  width: 9px;
}

.slack {
  margin-right: 10px;
}

.footer-div {
  width: 185px;
  position: relative;
  top: 10px;
}

.footer-img {
  width: 132px;
  margin-top: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  border-top: 1px solid #eaecf0;
  width: 1152px;
}


@media screen and (max-width: 480px ){
  #root {
      margin: 40px 30px;
  }

  .link__sect > button {
    width: 300px;
    margin: auto;
    height: 68px;
    margin-bottom: 8px;
    border: 1px solid #eaecf0;
    background-color: #eaecf0;
  }

  button a {
    font-size: 14px;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-right: 60px;
  }

}