body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  text-align: center;
  margin: auto;
}

#profile__img{
  border-radius: 275px;
  width: 88px;
}

#slack {
  display: none;
}

.link__sect {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.link__sect > button {
  width: 1152px;
  margin: auto;
  height: 76px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid #eaecf0;
  background-color: #eaecf0;
}

button a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}


@media screen and (max-width: 480px ){
  #root {
      margin: 40px 30px;
  }

  .link__sect > button {
    width: 343px;
    margin: auto;
    height: 68px;
    margin-bottom: 8px;
    border: 1px solid #eaecf0;
    background-color: #eaecf0;
  }

  button a {
    font-size: 14px;
  }

}